node_modules
.env
.env.local
coverage
.nyc_output

apps/backend/dist
apps/backend/node_modules
apps/frontend/.next
apps/frontend/node_modules

.DS_Store
# Terraform
.terraform/
*.tfstate
*.tfstate.*
infra/terraform/envs/*/terraform.tfvars
infra/terraform/shared/terraform.tfvars
