neon_api_key      = ""
upstash_api_key   = ""
upstash_email     = ""
fly_api_token     = ""
vercel_api_token  = ""
github_token      = ""
github_owner      = ""
github_repo       = ""
enable_github_secrets = true

jwt_secret        = ""
cors_origin       = "https://<frontend>.vercel.app"
vercel_project_name = "201bet-frontend"
fly_app_name        = "201bet-backend-prod"
